
@{
    ViewBag.Title = "微信支付样例";
}

<div align="center">
    <ul>
        <li style="background-color:#00CD00"><a href="\WeixinPay\Product">JSAPI支付</a></li>
        <li style="background-color:#00CD00"><a href="\WeixinPay\MicroPay">刷卡支付</a></li>
        <li style="background-color:#00CD00"><a href="\WeixinPay\NativePay">扫码支付</a></li>
        <li style="background-color:#00CD00"><a href="\WeixinPay\OrderQuery">订单查询</a></li>
        <li style="background-color:#00CD00"><a href="\WeixinPay\RefundOrder">订单退款</a></li>
        <li style="background-color:#00CD00"><a href="\WeixinPay\RefundQuery">退款查询</a></li>
        <li style="background-color:#00CD00"><a href="\WeixinPay\DownloadBill">下载账单</a></li>
    </ul>
</div>