
@{
    ViewBag.Title = "订单查询";
}

<form action="~/WeixinPay/OrderQuery" role="form" method="post" id="queryForm">
    <div style="margin-left:2%;color:#f00">微信订单号和商户订单号选少填一个，微信订单号优先：</div><br />
    <div style="margin-left:2%;">微信订单号：</div><br />
    <input class="textbox" id="transaction_id" name="transactionId" type="text" /><br /><br />
    <div style="margin-left:2%;">商户订单号：</div><br />
    <input class="textbox" id="out_trade_no" name="outTradeNo" type="text" /><br /><br />
    <div align="center">
        <button id="btnSubmit" class="button" type="submit" >查询</button>
    </div>
</form>