<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- 服务器时间 -->
  <Message key="GetServiceOADate">Common/GetServiceOADate</Message>

  <!-- 用户相关 -->
  <Message key="UserLogin">User/Login</Message>
  <Message key="UserFastLogin">User/FastLogin</Message>
  <Message key="UserExistsAccount">User/ExistsAccount</Message>
  <Message key="UserExistsMPhone">User/ExistsMPhone</Message>
  <Message key="UserExistsMail">User/ExistsMail</Message>
  <Message key="UserExistsRCode">User/ExistsRCode</Message>
  <Message key="UserRegister">User/Register</Message>
  <Message key="GetReceiveAddress">ReceiveAddress/GetReceiveAddress</Message>
  <Message key="GetReceiveAddressList">ReceiveAddress/GetReceiveAddressList</Message>
  <Message key="EditReceiveAddress">ReceiveAddress/EditReceiveAddress</Message>
  <Message key="AddReceiveAddress">ReceiveAddress/AddReceiveAddress</Message>
  <Message key="DelReceiveAddress">ReceiveAddress/DelReceiveAddress</Message>
  <Message key="GetPostCode">ReceiveAddress/GetPostCode</Message>
  <Message key="SetUserDefaultAddress">ReceiveAddress/SetUserDefaultAddress</Message>
  <Message key="UserVerifyUserMail">User/VerifyUserMail</Message>
  <Message key="UserChangePassword">User/ChangePassword</Message>
  <Message key="UserChangePayPassword">User/ChangePayPassword</Message>
  <Message key="UserCheckPayPassword">User/CheckPayPassword</Message>
  <Message key="ModifyUserInfo">User/ModifyUserInfo</Message>
  <Message key="ModifyUserImg">User/ModifyUserImg</Message>
  <Message key="GetUserInfoByName">User/GetUserInfoByName</Message>

  <Message key="UserGetUserIdByPhoneNo">User/GetUserIdByPhoneNo</Message>
  <Message key="GetReceiveDefaultAddress">ReceiveAddress/GetReceiveDefaultAddress</Message>
  <Message key="SearchUserInfo">User/SearchUserInfo</Message>
  <Message key="GetRandomUserName">User/GetRandomUserName</Message>
  <Message key="UserRecharge">My01Info/AccountRecharge</Message>
  <Message key="GetEvaluateOrder">My01Info/GetEvaluateOrder</Message>

  <!-- 我的01 -->
  <Message key="MyPointSearchMyPointInfo">MyPoint/SearchMyPointInfo</Message>
  <Message key="MyMoneySearchMyMoneyInfo">MyMoney/SearchMyMoneyInfo</Message>
  <Message key="SearchMyMoneyConsumeList">MyMoney/SearchMyMoneyConsumeList</Message>
  <Message key="PayMyMoney">MyMoney/PayMyMoney</Message>
  <Message key="MyBuyingConsultMyBuyingConsult">MyBuyingConsult/MyBuyingConsult</Message>
  <Message key="MyOrderSearchOrderDetail">MyOrder/SearchOrderDetail</Message>
  <Message key="MyProductCommentInsertProductComment">MyProductComment/InsertProductComment</Message>
  <Message key="CommonCheckPhoneVerification">Common/CheckPhoneVerification</Message>
  <Message key="GetStoreHomeLayout">Common/GetStoreHomeLayout</Message>


  <!-- 商品信息 -->
  <Message key="GetProductGroup">Product/GetProductGroup</Message>
  <Message key="GetProductCommentStatistics">Product/GetProductCommentStatistics</Message>
  <Message key="GetProductList">Product/GetProductList</Message>
  <Message key="GetProductWithActList">Product/GetProductWithActList</Message>
  <Message key="AddProductConsult">Product/AddProductConsult</Message>
  <Message key="GetProductConsults">Product/GetProductConsults</Message>
  <Message key="GetProductCommentDetails">Product/GetProductComments</Message>
  <Message key="GetProductCategory">ProductCategory/GetProductCategory</Message>
  <Message key="GetProductDetail">Product/GetProductDetail</Message>
  <Message key="GetStoreProductPrice">Product/GetStoreProductPrice</Message>
  <Message key="GetProductByName">Product/GetProductByName</Message>


  <!-- 公共接口 -->
  <Message key="AddFavorite">Common/AddFavorite</Message>
  <Message key="DeleteFavorite">Common/DeleteFavorite</Message>
  <Message key="CheckFavorite">Common/CheckFavorite</Message>
  <Message key="GetFavorite">Common/GetFavorite</Message>
  <Message key="GetInventory">Common/GetInventory</Message>
  <Message key="Feedback">User/Feedback</Message>
  <Message key="SendSmsInfo">Common/SendSmsInfo</Message>
  <Message key="IsRightSmsCode">Common/IsRightSmsCode</Message>



  <!-- 购物流程 -->
  <Message key="AddProductToCart">Shopping/AddProductToCart</Message>
  <Message key="GetShopCart">Shopping/GetShopCart</Message>
  <Message key="GetShopCartForBuy">Shopping/GetShopCartForBuy</Message>
  <Message key="UpdateCartProduct">Shopping/UpdateCartProCount</Message>
  <Message key="DeleteCartProduct">Shopping/DeleteCartPro</Message>
  <Message key="CombineToUserCart">Shopping/CombineToUserCart</Message>
  <Message key="CalFreight">Shopping/CalFreight</Message>
  <Message key="SubmitOrder">Shopping/SubmitOrder</Message>
  <Message key="GetBuyerInfo">Shopping/GetBuyerInfo</Message>

  <!-- 我的01 -->
  <Message key="SearchMy01Info">My01Info/SearchMy01Info</Message>

  <!-- 我的订单 -->
  <Message key="SearchMyOrderList">MyOrder/SearchMyOrderList</Message>
  <Message key="SearchMyOrderDetail">MyOrder/SearchOrderDetail</Message>
  <Message key="MyOrderCancelOrder">MyOrder/CancelOrder</Message>
  <Message key="ReturnOrChangeMyOrder">ReturnOrChangeMyOrder/ReturnOrChangeMyOrderBiz</Message>
  <Message key="ConfirmOrder">/MyOrder/ConfirmRecevied</Message>
  <Message key="CalcStorekeeperProfit">/MyOrder/CalcStorekeeperProfit</Message>
  <Message key="PayMyOrder">/Shopping/PayMyOrder</Message>


  <!--优惠券相关-->
  <Message key="ReceiveCoupon">Tickets/ReceiveTicket</Message>
  <Message key="MyCoupons">Tickets/MyTickets</Message>
  <Message key="GetCoupon">Tickets/GetTicket</Message>
  <Message key="GetStoreCoupon">Tickets/GetStoreTickets</Message>


  <!--分店相关-->
  <Message key="GetStoreBaseInfo">Store/GetStoreBaseInfo</Message>
  <Message key="GetStoreBaseInfoById">Store/GetStoreBaseInfoById</Message>
  <Message key="GetUserStoreList">Store/GetUserStoreList</Message>
  <Message key="GetStoreCodeListByArea">Store/GetStoreCodeListByArea</Message>
  <Message key="GetStoreCodeListByAreaFrom4sInfo">Store/GetStoreCodeListByAreaFrom4sInfo</Message>
  <Message key="Get4sInfoCity">Store/Get4sInfoCity</Message>
  <Message key="GetStoreListByArea">Store/GetStoreListByArea</Message>
  <Message key="GetStoreProductCatalogList">Store/GetStoreProductCatalogList</Message>
  <Message key="GetStoreList">Store/GetStoreList</Message>
  <Message key="GetStoreInfoList">Store/GetStoreInfoList</Message>
  <Message key="GetDefaultStoreList">Store/GetDefaultStoreList</Message>
  <Message key="GetNearStore">Store/GetNearStore</Message>
  <Message key="GetAttentionList">Store/GetAttentionList</Message>
  <Message key="GetStoreByAreaAddress">Store/GetStoreByAreaAddress</Message>
  <Message key="GetStoreByPoint">Store/GetStoreByPoint</Message>




  <!--手机APP相关-->
  <Message key="LoadingInfo">Common/LoadingInfo</Message>
  <Message key="RunSign">Push/RunSign</Message>
  <Message key="LoginSign">Push/LoginSign</Message>
  <Message key="LogoutSign">Push/LogoutSign</Message>
  <Message key="SearchMessageInfoByMemId">Push/SearchMessageInfoByMemId</Message>
  <Message key="GetAppVersionForAndroid">Push/GetAppVersionForAndroid</Message>

  <!-- 手机充值 -->
  <Message key="GetMobileRechargeConfigList">Shopping/GetMobileRechargeConfigList</Message>
  <Message key="RechargeMobile">Shopping/RechargeMobile</Message>
  <Message key="GetMyTelRecharge">AIOUser/GetMyTelRecharge</Message>
  <Message key="GetMyTelRechargeByDno">AIOUser/GetMyTelRechargeByDno</Message>
  <Message key="RechargeMobileDnoCreate">Shopping/RechargeMobileDnoCreate</Message>
  <Message key="RechargeMobileDnoPay">Shopping/RechargeMobileDnoPay</Message>
  <Message key="CheckMobileBalance">Shopping/CheckMobileBalance</Message>

  <!--频道相关 -->
  <Message key="GetSubscribeChannelByStore">AIOChannel/GetSubscribeChannelByStore</Message>

  <!--店铺信息-->
  <Message key="GetDg_4S_InfoByArg">Dg_4S_Info/GetDg_4S_InfoByArg</Message>
  <Message key="GetDistance">Distance/GetDistance</Message>
  <Message key="GetStorePicRelationListList">StorePicRelationList/</Message>
  <Message key="GetStoreHomeProductList">Store/GetStoreHomeProductList</Message>


  <!--用户收藏店铺-->
  <Message key="GetMemberStoreAttentionListByArg">MemberStoreAttentionList/GetMemberStoreAttentionListByArg</Message>
  <Message key="GetMemberStoreAttentionListList">MemberStoreAttentionList/GetMemberStoreAttentionListList</Message>
  <Message key="AddMemberStoreAttentionListList">MemberStoreAttentionList/AddMemberStoreAttentionListList</Message>
  <Message key="AddMemberStoreAttentionList">MemberStoreAttentionList/AddMemberStoreAttentionList</Message>
  <Message key="DelMemberStoreAttentionList">MemberStoreAttentionList/DelMemberStoreAttentionList</Message>
  <Message key="DelMemberStoreAttentionListList">MemberStoreAttentionList/DelMemberStoreAttentionListList</Message>
  <Message key="UpdateMemberStoreAttentionList">MemberStoreAttentionList/UpdateMemberStoreAttentionList</Message>

  <!--用户代金券-->
  <Message key="GetLuckyMoneyBagLogList">LuckyMoneyBagLog/GetLuckyMoneyBagLogList</Message>

  <!--店铺推送消息-->
  <Message key="GetMessagePushHistoryByArg">MessagePushHistory/GetMessagePushHistoryByArg</Message>
  <Message key="GetMessagePushHistoryList">MessagePushHistory/GetMessagePushHistoryList</Message>
  <Message key="AddMessagePushHistoryList">MessagePushHistory/AddMessagePushHistoryList</Message>
  <Message key="AddMessagePushHistory">MessagePushHistory/AddMessagePushHistory</Message>
  <Message key="DelMessagePushHistory">MessagePushHistory/DelMessagePushHistory</Message>
  <Message key="DelMessagePushHistoryList">MessagePushHistory/DelMessagePushHistoryList</Message>
  <Message key="UpdateMessagePushHistory">MessagePushHistory/UpdateMessagePushHistory</Message>

  <!--消息[公告etc]-->
  <Message key="GetNoticeList">Message/GetNoticeList</Message>

  <!--注册邀请码-->
  <Message key="GetRegisterCodeByArg">RegisterCode/GetRegisterCodeByArg</Message>
  <Message key="GetRegisterCodeList">RegisterCode/GetRegisterCodeList</Message>
  <Message key="AddRegisterCodeList">RegisterCode/AddRegisterCodeList</Message>
  <Message key="AddRegisterCode">RegisterCode/AddRegisterCode</Message>
  <Message key="DelRegisterCode">RegisterCode/DelRegisterCode</Message>
  <Message key="DelRegisterCodeList">RegisterCode/DelRegisterCodeList</Message>
  <Message key="UpdateRegisterCode">RegisterCode/UpdateRegisterCode</Message>
  <Message key="GetStoreChannel">Channel/GetStoreChannel</Message>
  <Message key="GetStoreChannelSort">Channel/GetStoreChannelSort</Message>

  <!--广告相关 -->
  <Message key="GetStoreAdResource">Ad/GetStoreAdResource</Message>

  <!--运营中心相关 -->
  <Message key="GetAOCByStoreId">AOC/GetAOCByStoreId</Message>
  <Message key="GetAreaOperatorCenterList">AOC/GetAreaOperatorCenterList</Message>
  <Message key="GetAOCById">AOC/GetAOCById</Message>

  <!--活动页-->
  <Message key="GetActivitiesList">Activities/GetActivitiesList</Message>

  <!--支付是否激活-->
  <Message key="PaymentIsEnable">Common/PaymentIsEnable</Message>

  <!--手机即时聊天-->
  <Message key="GetCustomerChatHistory">ShopServer/GetCustomerChatHistory</Message>
  <Message key="GetChatMessageHistory">ShopServer/GetChatMessageHistory</Message>
  <Message key="GetStoreServiceInfoByStoreID">ShopServer/GetStoreServiceInfoByStoreID</Message>
  <Message key="GetUnReadCountByUserID">ShopServer/GetUnReadCountByUserID</Message>
  



</configuration>