<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--webapi基础地址-->
  <add key="WebApiUrl" value="http://api.t.totyu.cn/api/"/>
  <!--webapi超时时间(包括请求握手时间和等待服务响应时间，单位ms)-->
  <add key="WebApiTimeOut" value="24000"/>
  <add key="RequesterName" value="LYWorld.Mobile.Web" />

  <!--<add key="BaseUrl" value="m.t.totyu.cn" />-->
  <!--<add key="cookiedomain" value=".01world.com" />-->
  <!--<add key="mainurl" value="m.01world.com:12306" />-->
  <add key="BaseUrl" value="m.t.totyu.cn" />
  <add key="cookiedomain" value=".t.totyu.cn" />
  <add key="mainurl" value="m.t.totyu.cn" />

  <!--缓存过期时间(单位分钟)-->
  <add key="CacheExpiredTime" value="30"/>
  <!--WebApi返回json格式判断,如：[]或[{"A":"A"}]或{"A":"A"}-->
  <add key="JsonRegex" value="^\s*\[\s*\]\s*$|^[|{+\s*&quot;[\w-]+&quot;\s*:[\s\S]+$"/>
  <!--物流查询地址-->
  <add key="LogisticsWebApiUrl" value="http://api.kuaidi100.com/api"/>
  <!--物流结果显示地址-->
  <add key="LogisticsWebUrl" value="http://m.kuaidi100.com/index_all.html?"/>
  <!--物流KEY-->
  <add key="LogisticsApiKey" value="83e6a9a9eeb1baa9"/>
  <!--同一会话短信发送间隔时间(单位秒)-->
  <add key="SMSTimeout" value="120"/>
  <!--积分商城分类Id-->
  <add key="PointProductTypeId" value="790"/>
  <!--分页页容量-->
  <add key="PageSize" value="8"/>
  <!--充值校验秘钥-->
  <add key="RechargeKey" value="01worldpay"/>

  <!--01总店相应实体店id（鼎鑫店）-->
  <add key="MainStoreId" value="5"/>
  <!--01总店相应实体店Code（鼎鑫店）-->
  <add key="MainStoreCode" value="dingxin"/>
  <!--01总店相应实体店Code（鼎鑫店）-->
  <add key="MainStoreFromNameWithCounty" value="兰山区-鼎鑫店"/>

  <!--转账汇款帐号信息-->
  <add key="银行转账_name" value="临沂东忠科技有限公司"/>
  <add key="银行转账_no" value="9160 1160 2454 2058 3333 33"/>
  <add key="银行转账_bank" value="山东临沂兰山农村合作银行沂龙湾支行"/>
  <add key="邮局汇款_name" value="临沂东忠科技有限公司"/>
  <add key="邮局汇款_no" value="9370 0001 0000 5167 13"/>
  <add key="邮局汇款_bank" value="临沂市分行营业部"/>

  <!--支付宝商家帐号-->
  <add key="alipayConfig" value="mobile"/>
  <add key="SellerEmail" value="ec@01pifa.com"/>
  <add key="PayDone" value="/Shopping/payMyOrder_Done"/>
  <add key="PayCancel" value="/Shopping/payMyOrder_Cancel"/>
  <add key="PayDoneAsync" value="/Shopping/payMyOrder_DoneAsync"/>
  <add key="RechargeDone" value="/User/Recharge_Done"/>
  <add key="RechargeCancel" value="/User/Recharge_Cancel"/>
  <add key="RechargeDoneAsync" value="/User/Recharge_DoneAsync"/>
  <add key="MobileRechargeDone" value="/MobileRecharge/MobileRecharge_Done"/>
  <add key="MobileRechargeCancel" value="/MobileRecharge/MobileRecharge_Cancel"/>
  <add key="MobileRechargeDoneAsync" value="/MobileRecharge/MobileRecharge_DoneAsync"/>

  <!--网银情报-->
  <add key="UnionPayDone" value="/Shopping/UnionPayMyOrder_Done"/>

  <!--图片文件后缀名-->
  <add key="UploadFilesSuffix" value="jpeg,jpg,png,bmp"/>
  <!--图片服务器FTP-->
  <add key="MainServiceUrl" value="www.01world.com" />
  <add key="ImgFTP" value="58.56.66.60" />
  <add key="ImgFTP_Port" value="30021" />
  <add key="ImgFTP_Account" value="TOTYU_2014" />
  <add key="ImgFTP_Password" value="TOTYU,./@123" />
  <add key="ImgFTP_Path" value="/userImg/" />

  <!--性能测试开关（0：关闭 1：开启）-->
  <add key="PerformanceActionAttributeFilter" value="1"/>
  <add key="ApiPerformanceActionAttributeFilter" value="1"/>

</appSettings>