<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <Message key="OperationLogMsg">{0} 访问了{1}/{2}页</Message>
  <Message key="ProductInfoPageUrlWithStore">/Product/ProductInfo?groupCode={0}&amp;productId={1}&amp;storeId={2}&amp;storecode={3}</Message>
  <Message key="ProductInfoPageUrl">/Product/ProductInfo?groupCode={0}&amp;productId={1}</Message>
  <Message key="UnautherizedPage">亲，要登录之后才能购买哦！</Message>
  <Message key="ConnectionFailed">无法连接到系统服务，请检查网络连接！</Message>
  <Message key="WebApiGetFailed">Get方法调用WebApi参数只能为非集合的引用类型！</Message>
  <Message key="MvcPostMethodNotFound">ajax调用方法不存在！</Message>


  <!-- 登录消息 -->
  <Message key="LoginPWDError">用户或密码错误！</Message>
  <Message key="AccountRequiredErrorMessage">用户名不能为空！</Message>
  <Message key="PasswordRequiredErrorMessage">密码不能为空！</Message>
  <Message key="ValidatorCodeRequiredErrorMessage">验证码不能为空！</Message>
  <Message key="SmsCodeRequiredErrorMessage">短信验证码不能为空！</Message>
  <Message key="MobileNoRequiredErrorMessage">手机号码不能为空！</Message>
  <Message key="PhoneRemoteErrorMessage"> 手机号码不存在，请查看输入的手机号码是否正确！</Message>
  
  <Message key="AccountDisplayName">用户名</Message>
  <Message key="PasswordDisplayName">密码</Message>
  <Message key="ValidatorCodeDisplayName">图片效验码</Message>
  <Message key="SmsCodeDisplayName">短信验证码</Message>
  <Message key="RegisterCodeDisplayName">注册邀请码</Message>
  

  <!--注册消息-->
  <Message key="MobileNoDisplayName">手机号码</Message>
  <Message key="LoginOtherError">系统异常,无法登录！</Message>
  <Message key="MobileNoRemoteErrorMessage"> 手机号码已经存在！</Message>
  <Message key="AccountRemoteErrorMessage"> 用户名已经存在！</Message>
  <Message key="RegisterCodeRemoteErrorMessage"> 邀请码不存在！</Message>
  


  <Message key="ValidatorError">图片验证码错误！</Message>
  <Message key="SmsCodeRemoteErrorMessage">短信验证码错误或者已失效！</Message>
  <Message key="SmsCodeContent">"感谢您注册01世界，请妥善保管您的验证码:{0}    【01世界】"</Message>

 

  <!---正则表达式-->
  <Message key="RegularMobileNo">^[1][3578]\d{9}$</Message>
  <Message key="RegularMobileNoError">手机号码格式有误，请重新输入！</Message>
  <Message key="RegularAccount">^[A-Za-z0-9\u0391-\uFFE5]{5,20}$</Message>
  <Message key="RegularAccountError">5-20位字符，可由字母、数字或中文字符组成！</Message>
  <Message key="RegularPassword">^(\w){6,20}$</Message>
  <Message key="RegularPasswordError">登录密码只能为6-20位字符,可由英文数字及下划线组成！</Message>
  <Message key="RegularIP">^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$</Message>
  <Message key="RegularIPError">IP地址格式不正确！</Message>
  <Message key="RegularPostCode">^[1-9][0-9][0-9][0-9][0-9][0-9]$</Message>
  <Message key="RegularPostCodeError">邮编格式不正确！</Message>
  <Message key="RegularMail">\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*</Message>
  <Message key="RegularMailError">电子邮箱格式不正确！</Message>

  <!--商品相关-->
  <Message key="AddProductConsultError">商品咨询异常，请重新咨询</Message>
  <Message key="ExceptionsCall">异常调用，您没有访问权限。</Message>
  <Message key="AskRequiredErrorMessage">请输入咨询内容！</Message>

  <!--收货地址-->
  <Message key="AddReceiveAddressError">收货地址添加失败！</Message>
  <Message key="EditReceiveAddressError">收货地址修改失败！</Message>
  <Message key="buyerRequiredErrorMessage">请输入收货人信息！</Message>
  <Message key="adrRequiredErrorMessage">请输入详细地址！</Message>
  <Message key="PostCodeRequiredErrorMessage">请输入邮编！</Message>

  <!--个人信息维护-->
  <Message key="UserInfoModifyfailed">个人信息更新失败！请稍后再试。</Message>
  <Message key="MailRemoteErrorMessage">邮箱地址已经存在！</Message>
  <Message key="CanNotModifyMobileNo">手机号码不能修改！</Message>
  <Message key="MailRequiredErrorMessage">请输入邮箱地址！</Message>
  <Message key="MailDisplayName">邮箱地址</Message>
  <Message key="PostNoDisplayName">邮政编码</Message>
  <Message key="RealNameRequiredErrorMessage">请输入真实姓名！</Message>
  <Message key="RealNameDisplayName">邮箱地址</Message>
  <Message key="MailAlreadyVerified">邮箱地址不能重复验证！</Message>
  <Message key="MailVerifyError">邮件发送失败！</Message>
  <Message key="AddressRequiredErrorMessage">请输入联系地址！</Message>
  <Message key="AddressDisplayName">联系地址</Message>

  <!--订单相关-->
  
  <Message key="ProductReturnOrChangeError">订单退换货失败！请稍后再试。</Message>
  <Message key="NotWantBuy">我不想买了</Message>
  <Message key="PayFail">订单支付失败！</Message>


  <!--撰写评价-->
  <Message key="WriteCommentContentErrorMessage">评价内容不能为空！</Message>
  <Message key="WriteCommentExistErrorMessage">当前商品已评价！</Message>

  <!--手机验证-->
  <Message key="MobileVerificationError">系统异常，手机验证失败！</Message>
  <Message key="MobileVerificationFailure">手机验证失败！</Message>

  <!--密码修改-->
  <Message key="PasswordDiffErrorMessage">确认新密码与新密码输入不一致！</Message>

</configuration>