
@{
    ViewBag.Title = "微信支付样例";
}

<div align="center">
    <ul>
        <li style="background-color:#00CD00"><a href="\WeixinPay2\JsApiPay">JSAPI支付</a></li>
        <li style="background-color:#00CD00"><a href="\WeixinPay2\MicroPay">刷卡支付</a></li>
        <li style="background-color:#00CD00"><a href="\WeixinPay2\NativePay">扫码支付</a></li>
        <li style="background-color:#00CD00"><a href="\WeixinPay2\OrderQuery">订单查询</a></li>
        <li style="background-color:#00CD00"><a href="\WeixinPay2\RefundOrder">订单退款</a></li>
        <li style="background-color:#00CD00"><a href="\WeixinPay2\RefundQuery">退款查询</a></li>
        <li style="background-color:#00CD00"><a href="\WeixinPay2\DownloadBill">下载账单</a></li>
    </ul>
</div>